* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navdiv{
    position:fixed;
    float: left;
}

.mainfind{
    margin-left:15vw;
    margin-top: 8vh;
    align-items: center;
    justify-content: center;
    display: block;
}

.manhiding{
    float: right;
    /* margin-left: 50%; */
}


.backgroundfind{
    background-image: url('../Image/tiredman.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50em;
    height: 70vh;
    color:rgb(56, 80, 235);
    border-radius: 25px;
}

.findtxt{
    font-size: 2em;
    color: rgb(56, 80, 235);
    text-align: center;
}

.findtitle{
    color: rgb(56, 80, 235);
    font-size: 3rem;
    text-align: center;
    font-weight: 800;
    font-family: Script MT;
    text-shadow: 1px 1px 3px white;
    margin-top:2vh;
    border-top: 5px double blue;
}

.indoorinner, .outdoorinner, .otherinner{
    display: flex;
    justify-content: left;
    align-items: center;
}

.other{
    padding:1em;
    /* background-color: rgb(56, 80, 235); */
    border-radius: 10px;
}

.indoor{
    padding: 1em;
    /* background-color: rgb(56, 80, 235); */
    border-radius:10px;
}

.outdoor{
    padding: 1em;
    border-radius: 10px;
}

.findhead{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}
.categoryMain {
    text-align: center;
    width:20vw;
    height:20vh;
}

.subcategoryMain {
    background-color: rgb(56, 80, 235);
    border-radius: 10px;
    margin-bottom: 4vh;
    padding-right:0.1rem;
    flex-wrap: wrap;
}

.dajt{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.daj{
    display:flex;
    align-items: center;
    justify-content: center;
}
.bajt{
    display:block;
    align-items: center;
    justify-content:center;
}   
.mg{
    box-shadow: 1px 1px 5px black;
    border-radius: 2em;
}
.cards{
    margin-top: 10px;
    width:10rem;
    height:20%;
    padding-right:10px;
    text-align: center;
}

.mg:hover{
    cursor: pointer;
    box-shadow: 1px 1px 20px white;
}

.heading{
    color:rgb(102, 122, 255);
    font-size: 2em;
}

.submit,.search {
    border: none;
    width: 2rem;
    height: 5vh;
}

.search{
    width: 15vw;
    font-size: 0.5em;
    outline: none;
}

#nodecoration {
    text-decoration: none;
    color: white;
}

.footballanimation{
    margin-left: 5%;
    position: relative;
    animation: football 2s infinite;
    animation-timing-function:ease-in-out;
}
@keyframes football{
    from{top:0px;}
    to{top:30px;}
}
.basketballanimation{
    margin-left: 1em;
    position: relative;
    animation: basketball 3s infinite;
    animation-timing-function:ease-in-out;
}
@keyframes basketball{
    from{top:0px;}
    to{top:30px;}
}
.cricketanimation{
    margin-left: 1em;
    position: relative;
    animation: cricket 3s infinite;
    animation-timing-function:linear;
}
@keyframes cricket{
    from{top:0px;}
    to{top:30px;}
}
.tennisanimation{
    margin-left: 1em;
    position: relative;
    animation: tennis 1s infinite;
    animation-timing-function:linear;
}
@keyframes tennis{
    from{top:0px;}
    to{top:30px;}
}
.bullet{
    top:16px;
    margin-left: 1em;
    position: relative;
    animation: gun 4s infinite;
    animation-timing-function:linear;
}
@keyframes gun{
    from{right:130px;}
    to{right:250px;}
}
.pubg{
    position: relative;
    margin-left: 3em;
}