* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navdiv {
    float: left;
    position: fixed;
}

.mainsetting{
    margin-left: 15vw;
    display: flex;
    align-items: center;
    justify-content: left;
}